
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Panel_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="text-center font-weight-bold">
                <h1>Kullanıcı Panel Sistemi</h1>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>       
    </tbody>
</table>

