@using CrossIdentityProject.UI.Models.IdentityViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Cross Identity</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4 font-weight-bold">Giriş Yap</h3>
                    <form asp-controller="Login" asp-action="SignIn" method="post" id="myForm" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" asp-for="Username" placeholder="Kullanıcı Adınız">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control rounded-left" asp-for="Password" id="Password" placeholder="Şifreniz">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Giriş Yap</button>
                        </div>

                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <a asp-controller="Register" asp-action="SignUp">Hesabın Yokmu?</a>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#">Şifremi Unuttum?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





