@using CrossIdentityProject.UI.Models.IdentityViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "SignUp";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Cross Identity</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-user-o"></span>
					</div>
					<h3 class="text-center mb-4 font-weight-bold">Üye Ol</h3>
					<form asp-controller="Register" asp-action="SignUp" method="post" class="login-form" id="registerForm">
						<div class="form-group">
							<input type="text" class="form-control rounded-left" asp-for=Name placeholder="Adınız">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control rounded-left" asp-for="Surname" placeholder="Soyadınız" >
							<span asp-validation-for="Surname" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control rounded-left" asp-for="Username" placeholder="Kullanıcı Adınız" >
							<span asp-validation-for="Username" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control rounded-left" asp-for="Email" placeholder="Email Adresiniz" >
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control rounded-left" asp-for="City" placeholder="Bulunduğunuz Şehir" >
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="text" class="form-control rounded-left" asp-for="District" placeholder="Bulunduğunuz İlçe" >
							<span asp-validation-for="District" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="password" class="form-control rounded-left" asp-for="Password" id="password" placeholder="Şifreniz">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="password" class="form-control rounded-left" asp-for="ConfirmPassword" id="confirmPassword" placeholder="Şifre Tekrar">
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							<span id="message" class="text-danger"></span>
						</div>
						<div class="form-group">
							<button type="submit" id="submitButton" class="form-control btn btn-primary rounded submit px-3">Kayıt Ol</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-100 text-md-center">
								<a href="#">Şifremi Unuttum?</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
	document.getElementById('registerForm').addEventListener('input', function () {
		var password = document.getElementById('password').value;
		var confirmPassword = document.getElementById('confirmPassword').value;
		var message = document.getElementById('message');
		var submitButton = document.getElementById('submitButton');

		if (password != confirmPassword) {
			if (confirmPassword == "") {
				message.textContent = ""; // Mesajı temizle
				submitButton.disabled = true; // Şifreler eşleşiyorsa butonu aktif et
			}
			else{
				message.textContent = "şifre ve şifre tekrar aynı olmalıdır.";
				submitButton.disabled = true; // Şifreler eşleşmiyorsa butonu devre dışı bırak
			}			
		} else {
			message.textContent = ""; // Mesajı temizle
			submitButton.disabled = false; // Şifreler eşleşiyorsa butonu aktif et
		}
	});
</script>